@import "../../css/templates";

@font-face {
  font-family: "Kharkiv Tone";
  font-style: normal;
  font-weight: 400;
  // Браузер сначала попробует найти шрифт локально
  src: local("KharkivTone"),
    // Если не получилось, загрузит ttf
  url("../../fonts/KharkivTone.ttf") format("truetype");
}

.toolbar {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background: $panels-color;
  overflow: hidden;
  display: grid;

  transition: height 300ms;

  .toolbar-btn, .empty {
    width: 60px;
    height: 60px;
  }

  .toolbar-btn {
    display: grid;
    justify-items: center;
    align-items: center;
    transition: all 200ms;

    &[data-backgroundChange="true"]:hover {
      background: $popUp-color;
    }
  }

  .open,
  .hide {
    transition: transform 300ms;

    &:hover {
      .chevron-down {
        transform: translateY(7px);
      }

      .chevron.chevron-up {
        transform: rotate(180deg) translateY(7px);
      }
    }

    .chevron {
      transition: inherit;

      &.chevron-up {
        transform: rotate(180deg);
      }
    }
  }
}

