$scroll-color: linear-gradient(180deg, #A00BC5 0%, #1B5454 100%);
$scroll-color-hover: linear-gradient(180deg, #D012FF 0%, #0B9191 100%);
$panels-color: linear-gradient(90deg, #161616 -23.12%, #262525 100%);

%KharkivTone {
  font-family: 'Kharkiv Tone', sans-serif;
  font-size: 32px;
  text-align: center;
}