@import "../../css/templates";

@font-face {
  font-family: "Kharkiv Tone";
  font-style: normal;
  font-weight: 400;
  src: local("KharkivTone"),
  url("../../fonts/KharkivTone.ttf") format("truetype");
}

.fontPopUp {
  display: inline-flex;
  padding: 0 7.5px;
  gap: 35px;
  background: $popUp-color;
  border-radius: 0 15px 15px 0;
  max-height: 60px;
  justify-content: center;
  align-content: center;

  .textEdit {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 60px;
    width: 60px;
  }
}

.fontSelection {
  .select {
    width: 243px;
    input {
      width: 190px;
    }
  }
}

.sizeSelection {
  .select {
    width: 117px;

    input {
      width: 64px;
    }
  }
}

.selection {
  padding: 7.5px 0;
  display: inline-block;

  .select {
    box-sizing: border-box;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 45px;

    .open {
      width: 27px;
      height: 27px;
      background: black url("../../img/icons/chevron up-down.svg");
      background-size: 100%;
      border-radius: 3px;

      align-self: center;
    }

    input {
      height: 45px;
      font-family: Kharkiv Tone, serif;
      font-size: 20px;
      border: 0;
      padding: 0;
      background: none;

      &:focus {
        border: 0;
        outline: 0;
      }
    }
  }

  ul {
    display: none;
    border: 1px solid;
    margin: 0;
    padding: 0;
    @extend %KharkivTone;
    font-size: 20px;
    list-style-type: none;

    li {
      user-select: none;
      text-align: left;
      padding-left: 30px;
      background: white;
    }
  }

  ul.on {
    display: block;
  }
}


//.fontSelection ul {
//  display: none;
//  border: 1px solid;
//  list-style-type: none;
//  list-style-position: outside;
//}