@import "../../css/templates";
@import "../../css/nullstyle";


body {
  background: linear-gradient(72.21deg, #141812 -0.34%, #161422 28.25%, #1C0D0D 68.52%, #1A0623 96.34%);
  height: 100vh;
}

.viewing-area {
  position: relative;
  width: 842px;
  height: 553px;
  background: white;

  border: 6px solid #4D4C4C;
  border-radius: 15px;
  overflow: auto;
  padding-left: 10px;
  padding-top: 10px;
}

.figures {
  color: white;
  margin-top: 30px;
  display: flex;
  gap: 30px;

  .toolbar-btn {
    background: gray;
    padding: 20px;
    user-select: none;
  }
}


