footer .author, .editor .workspace .saves .wrapper .title, .editor .workspace .column .viewing-area .element {
  font-family: "Kharkiv Tone", sans-serif;
  font-size: 32px;
  text-align: center;
}

@font-face {
  font-family: "Kharkiv Tone";
  font-style: normal;
  font-weight: 400;
  src: local("Kharkiv Tone"), url("../../fonts/KharkivTone.ttf") format("truetype");
}
body {
  background: linear-gradient(72.21deg, #20281E -0.34%, #2A2642 28.25%, #1C0D0D 68.52%, #3B0C52 96.34%);
  display: grid;
  justify-items: center;
  overflow: hidden;
}

.text, .author, .title {
  user-select: none;
}

.container {
  width: 1164px;
  height: 910px;
}

.scroll {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 90px;
  background: #A00BC5;
  box-shadow: 0 -25px 20px -12px #1B5454 inset;
  transition: all 300ms;
}
.scroll .arrow {
  transition: inherit;
}
.scroll:hover {
  background: #D012FF;
  box-shadow: 0 -25px 20px -12px #0B9090 inset;
}
.scroll:hover .arrow-down {
  transform: translateY(5px);
}
.scroll:hover .arrow-up {
  transform: translateY(-5px);
}

.introduction {
  margin-top: 30px;
  display: grid;
  justify-items: end;
}

.editor {
  position: relative;
  width: 100%;
}
.editor .workspace {
  width: 100%;
  padding-left: 270px;
  padding-top: 77px;
  display: flex;
  gap: 49px;
}
.editor .workspace .column .viewing-area {
  position: relative;
  width: 1164px;
  height: 560px;
  background: white;
  border: 6px solid #771B96;
  border-radius: 15px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.editor .workspace .column .viewing-area canvas {
  position: absolute;
}
.editor .workspace .column .viewing-area .element {
  width: 358px;
  height: 128px;
  background: #B72025;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.editor .workspace .saves {
  width: 181px;
  height: 109px;
  border-radius: 15px;
  background: linear-gradient(90deg, #771B96 0%, rgba(80, 8, 91, 0.9) 100%);
}
.editor .workspace .saves .wrapper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #000000;
}
.editor .workspace .saves .wrapper .title {
  color: #FFFFFF;
  letter-spacing: 0.2em;
}
.editor .workspace .saves .open {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.editor .workspace .saves .open .chevron {
  height: 100%;
}

footer {
  width: 1164px;
  height: 133px;
  display: grid;
  grid-template-rows: 50% 50%;
}
footer .author {
  letter-spacing: 0.2em;
  color: #B1830D;
  text-shadow: 0 5px 4px rgba(251, 72, 255, 0.25);
  -webkit-text-stroke: 0.3px #0047FF;
  justify-self: center;
  transition: color 300ms;
}
footer .author .nickname {
  transition: inherit;
}
footer .author:hover .nickname {
  color: #FFB803;
}
footer .author:active .nickname {
  color: #EA1A65;
}
footer .scroll-up {
  justify-self: end;
}

/*# sourceMappingURL=style.css.map */
