@import "../css/nullstyle";
@import "../css/templates";
@import "dropdown/dropdown";

body {
  padding-bottom: 300px;
}

@font-face {
  font-family: "Kharkiv Tone";
  font-style: normal;
  font-weight: 400;
  // Браузер сначала попробует найти шрифт локально
  src: local("KharkivTone"),
    // Если не получилось, загрузит ttf
  url("../fonts/KharkivTone.ttf") format("truetype");
}

.toolbar {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background: $panels-color;
  overflow: hidden;
  display: grid;

  transition: height 300ms;

  .toolbar-btn, .empty {
    width: 80px;
    height: 80px;
  }

  .toolbar-btn{
    display: grid;
    justify-items: center;
    align-items: center;
    transition: all 200ms;

    &[data-backgroundChange="true"]:hover {
      background: #2F2F2F;
    }
  }

  .open,
  .hide {
    transition: transform 300ms;

    &:hover {
      .chevron-down {
        transform: translateY(7px);
      }

      .chevron.chevron-up {
        transform: rotate(180deg) translateY(7px);
      }
    }

    .chevron {
      transition: inherit;

      &.chevron-up {
        transform: rotate(180deg);
      }
    }
  }
}

.element {
  width: 358px;
  height: 128px;

  background: #B72025;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text {
    @extend %KharkivTone;
  }
}

.wrapper{
  width: 340px;
  height: 314px;
  background: black;
  border-radius: 15px;

  display: grid;
  align-items: center;
  justify-items: center;
  transition: opacity 300ms;

  opacity: 0;
}

.resizePopUp {
  background: #2F2F2F;
  display: flex;
  border-radius: 0 15px 15px 0;
  gap: 10px;
  width: 500px;
  overflow: hidden;
  transition: all 300ms;
  opacity: 0;

  .width-field {
    padding-left: 20px;
  }


  .width-field, .height-field {
    display: grid;
    grid-template-columns: 255px 78px 28px;
    grid-template-rows: 1fr;
    grid-gap: 15px;

    p {
      @extend %KharkivTone;
      font-size: 20px;
      color: white;
      display: grid;
      justify-items: center;
      align-items: center;
    }

    .size {
      text-decoration: underline;
    }
  }

  .open,
  .hide {
    min-height: 80px;
    min-width: 80px;

    display: grid;
    justify-items: center;
    align-items: center;

    transition: transform 300ms;

    &:hover {
      .chevron-right {
        transform: translateX(7px);
      }

      .chevron.chevron-left {
        transform: rotate(180deg) translateX(7px);
      }
    }

    .chevron {
      transition: inherit;

      &.chevron-left {
        transform: rotate(180deg);
      }
    }
  }
}

.fontPopUp {
  input {
    border: 1px solid black;
  }
}




