@import "../css/nullstyle";

$scroll-color: linear-gradient(180deg, #A00BC5 0%, #1B5454 100%);
$scroll-color-hover: linear-gradient(180deg, #D012FF 0%, #0B9191 100%);
$panels-color: linear-gradient(90deg, #161616 -23.12%, #262525 100%);

@font-face {
  font-family: "KharkivTone";
  font-style: normal;
  font-weight: 400;
  // Браузер сначала попробует найти шрифт локально
  src: local("KharkivTone"),
    // Если не получилось, загрузит ttf
  url("../fonts/KharkivTone.ttf") format("truetype");
}

%KharkivTone {
  font-family: 'KharkivTone', sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.open,
.hide {
  transition: transform 300ms;

  &:hover {
    .chevron-down {
      transform: translateY(7px);
    }

    .chevron.chevron-up {
      transform: rotate(180deg) translateY(7px);
    }
  }

  .chevron {
    transition: inherit;

    &.chevron-up {
      transform: rotate(180deg);
    }
  }
}

.toolbar {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background: $panels-color;
  overflow: hidden;
  display: grid;

  transition: height 300ms;

  .toolbar-btn, .empty {
    width: 80px;
    height: 80px;
  }

  .toolbar-btn{
    display: grid;
    justify-items: center;
    align-items: center;
    transition: all 200ms;

    &[data-backgroundChange="true"]:hover {
      background: #2F2F2F;
    }
  }
}


.element {
  width: 358px;
  height: 128px;

  background: #B72025;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text {
    @extend %KharkivTone;
  }
}

.wrapper{
  width: 340px;
  height: 314px;
  background: black;
  border-radius: 15px;

  display: grid;
  align-items: center;
  justify-items: center;
  transition: opacity 300ms;

  opacity: 0;
}




